@use "sass:math";
@import "mixins";
@import url(/node_modules/bootstrap/scss/_mixins.scss);
@import url(/node_modules/bootstrap/scss/_variables.scss);
@import url(/node_modules/bootstrap/scss/mixins/_breakpoints.scss);
@import url(/node_modules/bootstrap/scss/mixins/_container.scss);

//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Titillium Web";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
    overflow-x: hidden;
    color: $mainColor;
    &._lock {
        overflow: hidden;
    }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    &._loaded {
    }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
// ._container {
//     max-width: $maxWidthContainer + 10px;
//     margin: 0 auto;
//     @media (max-width: $md1 + 1px) {
//         max-width: 970px;
//     }
//     @media (max-width: $md2+ 1px) {
//         max-width: 750px;
//     }
//     @media (max-width: $md3+1px) {
//         max-width: none;
//         padding: 0 10px;
//     }
// }
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
// @import "popup";
@import "header";
@import "footer";
// @import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
    flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
body {
    background: #fff;
    .wrapper {
        width: $maxWidth;
        position: relative;
        font-family: $fontFamily;
    }
}

.welcome__block {
    position: relative;
    display: flex;
    background-color: #87509c;
    justify-content: center;
    height: 455px;
    margin: 144px 0 0 0;
}
.welcome__text {
    margin: 0 auto;
    height: 144px;
}
.welcome__text-text {
    display: flex;
    margin: 86px auto;

    width: 906px;
    color: #f7f3ea;
    font-size: 42px;
    font-weight: 700;
    // letter-spacing: 1.2px;
    line-height: 48.82px;
    text-align: center;
}
.welcome__block-button {
    white-space: nowrap;
    width: 293px;
    height: 70px;
    background-color: #eb7d4b;
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    // border-radius: 5px;
    margin: 90px auto;
    justify-content: center;
    box-shadow: 0 3px #c86a40;
    transition: 0.2s;
    cursor: pointer;
    .button-link {
        padding: 21px 0px 0 3px;
        width: 130px;
        word-spacing: 3px;
        height: 14px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;

        text-align: left;
        text-transform: uppercase;
        text-decoration: none;
    }
    &:active {
        border: 4px #eb7d4b solid;
        opacity: 0.2;
        background-color: #87509c;
        box-shadow: 0 0;
        a {
            opacity: 1;
        }
    }
}
.services {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 750px;
    width: 100%;
    background-color: #17c2a4;
    h1 {
        position: absolute;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        margin: 120px 0 0 318px;
        color: #ffffff;
        font-size: 40px;
        font-weight: 700;
        line-height: 29.91px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    .services__description {
        display: flex;
        margin: 0px 0px 0 0px;
        .services__desription-text {
            width: 603px;
            margin: 193px 0 0 253px;
            height: 45px;
            color: #ffffff;
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            letter-spacing: 0.39px;
        }
    }
    .services__items {
        margin: 80px 0px 0px 0;
        .services__items-item {
            margin: 0px 0px 0px 0px;
        }
        .item__img1 {
            margin: 8px 0 0 85px;
        }
        .item__img2 {
            margin: 4px 0 0 93px;
        }
        .item__img3 {
            margin: 8px 0 0 42px;
        }
        .item__img4 {
            margin: 4px 0 0 68px;
        }
        .item__name1,
        .item__name2,
        .item__name3,
        .item__name4 {
            position: absolute;
            margin: 62px 0 0 72px;
            white-space: nowrap;
            color: #ffffff;
            font-size: 24px;
            font-weight: 700;
            line-height: 18px;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 0.48px;
        }
        .item__name1 {
            margin: 62px 0 0 73px;
        }
        .item__name2 {
            margin: 57px 0 0 85px;
        }
        .item__name3 {
            margin: 59px 0 0 42px;
        }
        .item__name4 {
            margin: 56px 0 0 27px;
        }
        .item__description1,
        .item__description2,
        .item__description3,
        .item__description4 {
            color: #ffffff;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.32px;
        }
        .item__description1 {
            // position: absolute;
            margin: 100px 0 0 26px;
            width: 222px;
        }
        .item__description2 {
            width: 183px;
            margin: 98px 0 0 37px;
        }
        .item__description3 {
            width: 197px;
            margin: 98px 0 0 27px;
        }
        .item__description4 {
            width: 199px;
            margin: 95px 0 0 24px;
        }
    }
}

.team {
    height: 910px;
    width: 100%;
    background-color: #e7f1f8;
    position: relative;
    h2 {
        color: #3c4761;
        font-size: 41px;
        font-weight: 700;
        line-height: 30.87px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3.5px;
        position: absolute;
        margin: 119px 0px 0 260px;
    }
    .team__description {
        position: absolute;
        margin: 195px 0 0 230px;
        color: #3c4761;
        font-size: 19px;

        line-height: 26.84px;
        text-align: center;
        letter-spacing: -0.06px;
    }
    .team__slider {
        position: absolute;
        width: 1100px;
        top: 295px;
        .slider__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 260px;
            padding: 5px 0 0 40px;
            .item__img {
                margin: -4px 0px 0 -5px;
                width: 200px;
                height: 200px;
                background-color: #878787;
                border-radius: 50%;
            }
            .item__img2,
            .item__img3,
            .item__img4 {
                width: 200px;
                height: 200px;
                background-color: #878787;
                border-radius: 50%;
            }
            .item__img2 {
                margin: -5px 0px 0 0px;
            }
            .item__img3 {
                margin: -5px 0px 0 5px;
            }
            .item__img4 {
                margin: -5px 0px 0 9px;
            }
            .item__name,
            .item__name2,
            .item__name3,
            .item__name4 {
                display: flex;
                position: absolute;
                white-space: nowrap;
                justify-content: center;
                top: 238px;
                margin: 0px 45px 0 0px;
                color: #27283d;
                font-size: 24px;
                font-weight: 700;
                line-height: 18px;
                text-align: left;
                text-transform: uppercase;
                letter-spacing: 0.48px;
            }
            .item__name2 {
                margin: 0px 45px 0 32px;
            }
            .item__name3 {
                margin: 0px 45px 0 32px;
                letter-spacing: 0.53px;
            }
            .item__name4 {
                margin: 0px 45px 0 27px;
            }
            .item__prof {
                display: flex;
                justify-content: center;
                margin: 69px 0 0 15px;
                width: 156px;
                color: #30bae7;
                font-size: 16px;
                line-height: 18px;
                text-align: center;
                word-spacing: 1.2px;
                letter-spacing: 0.32px;
                .item__prof-2 {
                    margin: -6px 0 0 14px;
                }
            }
            .item__desc {
                margin: 20px 0px 0 -9px;
                width: 209px;
                color: #3c4761;
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
                text-align: center;
                letter-spacing: 0.35px;
                .item__desc-2 {
                    margin: 0px -4px 0 10px;
                }
            }
            .item__social {
                display: flex;

                a {
                    margin: 13px 0 0 13px;
                }
            }
        }
    }
}
.skills {
    position: relative;
    width: 100%;
    height: 655px;
    h3 {
        position: absolute;
        color: #3c4761;
        font-size: 40px;
        font-weight: 700;
        line-height: 29.91px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: 115px 0 0 392px;
    }
    .skills__desc {
        margin: 190px 0 0 264px;
        color: #3c4761;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.48px;
        width: 588px;
        position: absolute;
    }
    .skills__category {
        position: absolute;
        margin: 325px 0 0 54px;
    }
    .category__web {
        margin: 0px 90px 0 0px;
        .category__web-title {
            margin: 30px 0 0 10px;
            color: #3c4761;
            font-size: 24px;
            font-weight: 700;
            line-height: 18px;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 0.48px;
        }
    }
    .category__html {
        margin: 0px 90px 0 0px;
        .category__html-title {
            margin: 30px 0 0 15px;
            color: #3c4761;
            font-size: 24px;
            font-weight: 700;
            line-height: 18px;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 0.48px;
        }
    }

    .category__graphic {
        margin: 0px 90px 0 0px;
        .category__graphic-title {
            position: absolute;
            margin: 30px 0px 0 -13px;
            color: #3c4761;
            font-size: 24px;
            font-weight: 700;
            line-height: 18px;
            text-align: left;
            white-space: nowrap;
            text-transform: uppercase;
            letter-spacing: 0.48px;
        }
    }
    .category__ui {
        .category__ui-title {
            margin: 30px 0 0 40px;
            color: #3c4761;
            font-size: 24px;
            font-weight: 700;
            line-height: 18px;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 0.48px;
        }
    }
}
.portfolio {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 1425px;
    width: 100%;
    background: #ffdd99;
    .portfolio__title {
        position: absolute;
        margin: 115px 0px 0 393px;
        color: #393939;
        font-size: 40px;
        font-weight: 700;
        line-height: 29.91px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    .portfolio__desc {
        position: absolute;
        margin: 189px 0 0 291px;
        width: 535px;
        color: #393939;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.41px;
    }
    .portfolio__links {
        position: absolute;
        margin: 290px 0 0 350px;

        a {
            height: 38px;
            width: 84px;
            background-color: #ebcb8d;
            color: #393939;
            font-size: 18px;
            line-height: 19.5px;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 0.36px;
            text-decoration: none;
            margin: 0 0 0 12px;
            border-radius: 5px;
            padding: 10px 0 0 18px;
            :first-child {
                padding: 10px 0 0 12px;
            }
            &:hover {
                background-color: #fff;
            }
        }
    }
    .portfolio__project {
        // position: absolute;
        // left: 175px;
        margin: 250px 2px 0 0px;
        p {
            display: flex;
            justify-content: center;
            align-content: center;
            position: absolute;
            margin: 28px 0 0 0;
            color: #393939;
            font-size: 18px;
            line-height: 19.5px;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 0.36px;
        }
        .portfolio__project1 {
            margin: 130px 0 0px 5px;
            width: 520px;
            p {
                position: absolute;

                left: 130px;
            }
        }
        .portfolio__project2 {
            margin: 130px 0 0 -10px;
            p {
                position: absolute;
                left: 170px;
            }
        }
        .portfolio__project3 {
            margin: 110px 0 0 0;
            p {
                position: absolute;
                left: 170px;
            }
        }
        .portfolio__project4 {
            margin: 110px 0px 0 -20px;
            p {
                position: absolute;
                left: 178px;
            }
        }
        .project1-img &:hover .project2-img {
            cursor: pointer;
        }
    }
    .portfolio__button {
        margin: 80px auto;
        width: 293px;
        height: 70px;
        border-radius: 3px;
        background-color: #17c2a4;
        box-shadow: 0 3px #14a58b;
        transition: 0.2s;
        cursor: pointer;
        .portfolio__button-link {
            position: absolute;
            white-space: nowrap;
            margin: 23px 0 0 58px;
            color: #ffffff;
            font-size: 18px;
            line-height: 26.19px;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 0.27px;
            text-decoration: none;
        }
        &:active {
            border: 4px #55e7cc solid;
            opacity: 0.3;
            background-color: #ffdd99;
            box-shadow: 0 0;
            a {
                opacity: 1;
            }
        }
    }
}
.about {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 895px;
    background-color: #d74680;
    .about__title {
        position: absolute;
        margin: 118px 0 0 251px;
        width: 606px;
        height: 29px;
        color: #ffffff;
        font-size: 40px;
        font-weight: 700;
        line-height: 29.91px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
        white-space: nowrap;
    }
    .about__desc {
        position: absolute;
        display: flex;
        margin: 192px 0 0 482px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.36px;
    }
    .slider__item {
        margin: 0px 0 0 0;
        height: 115px;
        .item__img1,
        .item__img2,
        .item__img3,
        .item__img4 {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            background-color: #787878;
            top: 0px;
            margin: 0 0 0 3px;
        }
        .item__img1 {
            position: absolute;

            margin: 285px 0px 0 -94px;
        }
        .item__img2 {
            position: absolute;
            padding: -5px 0 0 0;
            margin: 280px 0px 0 495px;
        }
        .item__img3 {
            position: absolute;

            margin: 597px 0px 0 -94px;
        }
        .item__img4 {
            position: absolute;
            margin: 597px 0px 0 493px;
        }
        .item__text1,
        .item__text2,
        .item__text3,
        .item__text4 {
            position: absolute;
            width: 326px;
            height: 85px;
            color: #ffffff;
            font-size: 21px;
            font-style: italic;
            line-height: 31.4px;
            text-align: left;
            word-spacing: 3px;
            letter-spacing: 0.32px;
        }
        .item__text1 {
            position: absolute;
            margin: 6px 0 0 50px;
        }
        .item__text2 {
            width: 350px;

            letter-spacing: 0.32px;

            margin: -110px 0px 0 639px;
        }
        .item__text3 {
            width: 350px;
            margin: 88px 0 0 50px;
            letter-spacing: 0.32px;
        }
        .item__text4 {
            width: 378px;
            margin: -28px -7px 0px 637px;
            letter-spacing: 0.28px;
        }
        .item__proffession1,
        .item__proffession2,
        .item__proffession3,
        .item__proffession4 {
            position: absolute;
            width: 131px;
            height: 15px;
            color: #ffdd99;
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            white-space: nowrap;
            letter-spacing: 0.36px;
        }
        .item__proffession1 {
            margin: 148px 0 0 50px;
        }
        .item__proffession2 {
            margin: 32px 0 0px 639px;
        }
        .item__proffession3 {
            margin: 230px 0 0px 50px;
        }
        .item__proffession4 {
            margin: 115px 0px 5px 635px;
        }
    }
    .item__name1,
    .item__name2,
    .item__name3,
    .item__name4 {
        position: absolute;
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 0.48px;
    }
    .item__name1 {
        margin: 120px 0 0 50px;
    }
    .item__name2 {
        margin: 5px 0px 0 638px;
    }
    .item__name3 {
        margin: 203px 0px 0px 50px;
    }
    .item__name4 {
        margin: 88px 0px 0px 636px;
    }
}
.contact {
    position: relative;
    width: 100%;
    height: 819px;
    background-color: #3c5499;
    .form-wrapper {
        position: absolute;
        display: flex;
        width: 900px;
        flex-direction: row;
        margin: 260px 0 0 0px;

        .formlabel {
            margin: 10px 0 0 800px;
        }
        .form__input {
            display: flex;
            flex-direction: row;
            position: absolute;
            justify-content: space-around;
            height: 56px;
            background-color: #273a71;
            border: none;
            padding: 0 0 0 30px;
            color: rgb(255, 255, 255);
            margin: 0px 0 0 0 0px;
            width: 414px;
            border-radius: 4px;

            &::placeholder {
                font-size: 18px;
                font-weight: 300;
                color: #fff;
            }
        }
        .input__name {
            margin: 8px 0 0 125px;
        }
        .input__email {
            display: flex;
            position: absolute;
            margin: -16px 0 0 570px;
        }
        .form__message {
            position: absolute;
            margin: 68px 0 0 125px;
            width: 860px;
            height: 200px;
            background-color: #273a71;
            border: none;
            color: #fff;
            padding: 0 0 0 30px;
            border-radius: 4px;
            &::placeholder {
                font-size: 18px;
                font-weight: 300;
                color: #fff;
            }
        }
        .form__button {
            display: flex;
            position: absolute;
            justify-content: center;
            margin: 400px 0 0 400px;
            width: 293px;
            height: 70px;
            background-color: #30bae7;
            white-space: nowrap;
            width: 293px;
            height: 70px;
            display: flex;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            // border-radius: 5px;
            box-shadow: 0 3px #30bae7;
            transition: 0.2s;
            cursor: pointer;
            &:active {
                border: 4px #55e7cc solid;
                opacity: 0.3;
                background-color: #55e7cc;
                box-shadow: 0 0;
                a {
                    opacity: 1;
                }
            }
            .button-link {
                width: 125px;
                height: 14px;
                color: #ffffff;
                font-size: 18px;
                line-height: 26.19px;
                text-align: left;
                text-transform: uppercase;
                letter-spacing: 0.27px;
                margin-top: 20px;
                text-decoration: none;
                font-family: "Titillium Web - Semi Bold";
                font-weight: 600;
            }
        }
    }
    .contact__title {
        position: absolute;
        width: 286px;
        height: 29px;
        color: #ffffff;
        font-size: 40px;
        font-weight: 700;
        line-height: 29.91px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: 119px 0 0 379px;
    }
    .contact__desc {
        position: absolute;
        width: 782px;
        height: 19px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.36px;
        margin: 197px 0 0 209px;
    }
}

/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

.team__slider {
    .slick-arrow {
        font-size: 0;
    }
    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            list-style: none;
            margin: 0 5px;
            &.slick-active button {
                background-color: #87509c;
            }
        }

        button {
            font-size: 0;
            width: 10px;
            height: 10px;
            background: #17c2a4;
            border-radius: 50%;
        }
    }
}
.about__slider {
    margin: 282px 0 0 0;
    height: 300px;
    padding: 0px 0 0 0;
    .slider__item {
        margin: 0px 0 0 100px;
    }
    .slick-arrow {
        font-size: 10px;
    }
    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            list-style: none;
            margin: 0 5px;
            &.slick-active button {
                background-color: #87509c;
            }
        }

        button {
            font-size: 0;
            width: 10px;
            height: 10px;
            background: #17c2a4;
            border-radius: 50%;
        }
    }
}
// @include media-breakpoint-up(xs) {
//}
// @include media-breakpoint-up($sm) {
// }
// @include media-breakpoint-up($md) {
// }
// @include media-breakpoint-up($lg) {
// }
// @include media-breakpoint-up($xl) {
// }

// // Example usage:
// @include media-breakpoint-up(sm) {
//     .some-class {
//         display: block;
//     }
// }
@media (max-width: 1200px) {
    .services {
        height: 800px;

        .services__title {
            position: absolute;
            font-size: 35px;
            margin: 10px 0px 0 -100px;
        }
        .services__description {
            margin: 53px 0px 0 -80px;
        }
        .skills {
            .skills__category {
                left: 0px;
                width: 1200px;
                padding: 0 0 0 -20px;
                margin: 0 0 0 -20px;
            }
            .skills__desc {
                margin: 190px 0 0 164px;
            }
        }
        .category__graphic,
        .category__html,
        .category__ui,
        .category__web {
            margin: 0 0 0 -40px;
        }
        .services__items {
            .services__items-item {
                padding: 30px 0 0 0;
            }
        }
        .team {
            .team__title {
                margin: 0 0 0 130px;
            }
            .team__slider {
                margin: 0 0 0 40px;
            }
        }
    }
    .portfolio {
        .portfolio__project {
            max-width: 1200px;
            margin: 300px 0 0 -120px;
        }
    }
    .team {
        .team__title {
            margin: 0px 0 0 -130px;
        }
        .team__description {
            margin: 200px 0 0 100px;
        }
        .team__slider {
            margin: 0 0 0 -100px;
            .slider__item {
                width: 210px;
                padding: 0 0 0 -200px;
            }
        }
    }
    .about {
        .about__title {
            margin: 110px 0 0 140px;
        }
        .about__slider {
            margin-left: -80px;
            // width: 1250px;
            .item__text1 {
                margin: -20px 0 0 50px;
            }
            .item__text2 {
                position: absolute;
                margin: -135px 0 0 640px;
            }
            .item__text3 {
                margin: 60px 0 0 50px;
            }
            .item__text4 {
                position: absolute;
                margin: -55px 0 0 640px;
            }
        }
    }
    .portfolio {
        .portfolio__project {
            width: 1300px;
            .portfolio__project1,
            .portfolio__project2,
            .portfolio__project3,
            .portfolio__project4 {
                width: 540px;
                margin: 100px 0 0 120px;
            }
            .portfolio__project1,
            .portfolio__project3 {
                margin: 100px 0 0 70px;
            }
            .portfolio__project2,
            .portfolio__project4 {
                margin: 100px 0 0 -20px;
            }
            // .portfolio__project3 {
            //     margin: 100px 0 0 70px;
            // }
            img {
                width: 540px;
                margin: 0 0 0 -40px;
            }
        }
    }
    .contact {
        .form-wrapper {
            margin: 260px 0px 0 -80px;
        }
    }
}
@media (max-width: 1129px) {
    .skills {
        height: 900px;
        .category__ui {
            margin: 50px 0 0 -10px;
        }
    }
    .about {
        .about__slider {
            .slider__item {
                width: 400px;
                .item__img1 {
                    position: absolute;

                    margin: 300px 0 0 -50px;
                }
                .item__img2 {
                    position: absolute;
                    margin: 300px 0 0 430px;
                }
                .item__img3 {
                    position: absolute;
                    margin: 610px 0 0 -50px;
                }
                .item__text1 {
                    margin: 0 0 0 70px;
                }
                .item__text2 {
                    position: absolute;
                    top: 0;
                    margin: 300px 0 0 560px;
                }
                .item__text3 {
                    position: absolute;
                    margin: 75px 0 0 60px;
                }
                .item__img4 {
                    position: absolute;

                    margin: 610px 0 0 430px;
                }
                .item__text4 {
                    position: absolute;
                    top: 0;
                    margin: 610px 0 0 560px;
                }
                .item__proffession1 {
                    margin-left: 70px;
                }
                .item__proffession2 {
                    margin-left: 560px;
                }
                .item__proffession3 {
                    margin-left: 70px;
                }
                .item__proffession4 {
                    margin-left: 560px;
                }
                .item__name1 {
                    margin-left: 70px;
                }

                .item__name2 {
                    margin-left: 560px;
                }
                .item__name3 {
                    margin-left: 70px;
                }
                .item__name4 {
                    margin-left: 560px;
                }
            }
        }
    }
    .portfolio {
        .portfolio__project {
            .portfolio__project1,
            .portfolio__project2,
            .portfolio__project3,
            .portfolio__project4 {
                margin: 100px 0 0 110px;
            }

            img {
                width: 400px;
                margin: 0 0 0 0px;
            }
        }
    }
    .contact {
        .form-wrapper {
            margin: 260px 0px 0 -120px;
        }
    }
}
@media (max-width: 992px) {
    .welcome__text-text {
        margin: 86px 0px 0 -85px;
        font-size: 40px;
    }
    .services {
        height: 1100px;
        .services__title {
            font-size: 35px;
            margin: 60px 0 0 -220px;
        }

        .services__description {
            margin: 53px 0px 0 -210px;
        }
        .services__items {
            margin: 40px 0 0 60px;
        }
    }
    .team {
        .team__slider {
            padding: 0 -50px 0 0px;
            .slider__item {
                width: 200px;
            }
        }
    }
    .about {
        height: 1950px;
        .about__slider {
            margin: 300px 0 0 -200px;
            .slider__item {
                .item__img1 {
                    position: absolute;

                    margin: 300px 0 0 400px;
                }
                .item__img2 {
                    position: absolute;
                    margin: 649px 0 0 400px;
                }
                .item__img3 {
                    position: absolute;
                    bottom: 0;
                    margin: 1020px 0 0 398px;
                }
                .item__text1 {
                    margin: 120px 0 0 300px;
                }
                .item__text2 {
                    position: absolute;
                    top: 0;
                    margin: 770px 0 0 290px;
                }
                .item__text3 {
                    position: absolute;
                    margin: 625px 0 0 290px;
                }
                .item__img4 {
                    position: absolute;
                    margin: 1410px 0 0 400px;
                }
                .item__text4 {
                    position: absolute;
                    top: 0;
                    margin: 1540px 0 0 290px;
                }
                .item__proffession1 {
                    margin-left: 70px;
                }
                .item__proffession2 {
                    margin-left: 560px;
                }
                .item__proffession3 {
                    margin-left: 70px;
                }
                .item__proffession4 {
                    margin-left: 560px;
                }
                .item__name1 {
                    margin: 240px 0 0 370px;
                }

                .item__name2 {
                    margin: 490px 0 0 370px;
                }
                .item__name3 {
                    margin: 760px 0 0 370px;
                }
                .item__name4 {
                    margin: 1060px 0 0 370px;
                }
                .item__proffession1 {
                    margin: 280px 0 0 390px;
                }
                .item__proffession2 {
                    margin: 540px 0 0 370px;
                }
                .item__proffession3 {
                    margin: 800px 0 0 370px;
                }
                .item__proffession4 {
                    margin: 1090px 0 0 370px;
                }
            }
        }
    }
    .portfolio {
        height: 2300px;
        .portfolio__project {
            img {
                width: 540px;
            }
            margin: 300px 0 0 -40px;
        }
    }
    .contact {
        .form-wrapper {
            margin: 260px 0px 0 -210px;
        }
    }
}
@media (max-width: 979px) {
    .skills {
        .category__graphic {
            margin: -20px 0 0 10px;
        }
    }
}
@media (max-width: 900px) {
    .welcome__text-text {
        margin: 86px 0px 0 -55px;
        font-size: 37px;
    }
    .skills {
        .skills__category {
            margin: 325px 0 0 160px;
        }
        .category__graphic {
            margin: 50px 0 0 10px;
        }
    }
}
@media (max-width: 880px) {
    .contact {
        .form-wrapper {
            .form__input {
                width: 300px;
                margin: 8px 0px 0 200px;
            }
            .input__email {
                margin: -16px 0px 0 600px;
            }
            .input__name {
                position: absolute;
                margin: 8px 0 0 0 200px;
            }
            .form__message {
                width: 700px;
                margin: 68px 0 0 200px;
            }
            margin: 260px 0px 0 -210px;
        }
    }
}
@media (max-width: 820px) {
    .welcome__text-text {
        margin: 86px 0px 0 -25px;
        font-size: 35px;
    }
    .skills {
        .skills__category {
            margin: 325px 0 0 150px;
        }
    }
}
@media (max-width: 795px) {
    .skills {
        .skills__category {
            margin: 325px 0 0 124px;
        }
    }
}
@media (max-width: 769px) {
    .welcome__text-text {
        margin: 26px 0px 0 45px;
        width: 600px;
    }
    .welcome__block-button {
        margin: 140px auto;
    }
    .skills {
        .skills__category {
            left: 50px;
            .category__web {
                width: 100px;
                .category__web-title {
                    white-space: nowrap;
                }
            }
        }
    }
    .services {
        .services__title {
            margin: -10px 0px 0 -290px;
        }
        .services__description {
            width: 700px;
            margin: 0 0px 0 -200px;
        }
        .services__items {
            margin: 40px 0px 0 10px;
        }
    }
    .team {
        .team__title {
            margin: 0px 0 0 -130px;
        }
        .team__description {
            margin: 200px 0 0 100px;
        }
        .team__slider {
            margin: 0 0px 0 -43px;
            .slider__item {
                width: 230px;
                margin: 12px -2px 0 0px;
                padding: 0 0 0 -13px;
            }
        }
    }
    .portfolio {
        .portfolio__project {
            img {
                width: 540px;
            }
            margin: 300px 0 0 -130px;
        }
    }
    .contact {
        height: 965px;
        .form-wrapper {
            margin: 260px 0 0 -200px;
            .form__input {
                width: 300px;
                margin: 8px 0px 0 350px;
            }
            .input__email {
                margin: -16px 0px 0 700px;
            }
            .input__name {
                position: absolute;
                margin: 8px 0 0 0 200px;
            }
            .form__message {
                width: 650px;
                height: 400px;
                margin: 68px 0 0 350px;
            }
            margin: 260px 0px 0 -420px;
            .form__button {
                margin: 550px 0 0px 530px;
            }
        }
    }
    .about {
        .about__slider {
            margin: 200px 0 0 -300px;
            .slider__item {
                .item__text1 {
                    margin: 220px 0 0 300px;
                }
                .item__text3 {
                    margin: 700px 0 0 300px;
                }
                .item__name1 {
                    margin: 330px 0 0 380px;
                }
                .item__name2 {
                    margin: 570px 0 0 380px;
                }
                .item__name3 {
                    margin: 820px 0 0 380px;
                }
                .item__name4 {
                    margin: 1120px 0 0 380px;
                }
                .item__proffession1 {
                    margin-top: 370px;
                }
                .item__proffession2 {
                    margin: 610px 0 0 380px;
                }
                .item__proffession3 {
                    margin: 860px 0 0 380px;
                }
                .item__proffession4 {
                    margin: 1160px 0 0 370px;
                }
            }
        }
    }
}
@media (max-width: 750px) {
    .welcome__text-text {
        margin: 26px 0px 0 -40px;
        width: 600px;
    }
    .welcome__block-button {
        margin: 140px auto;
    }
    .skills {
        .skills__category {
            margin: 325px 0 0 95px;
        }
        .category__ui {
            margin: 50px 0 0 -10px;
        }
    }
}
@media (max-width: 690px) {
    .contact {
        .form-wrapper {
            .form__input {
                width: 200px;
                margin: 8px 0px 0 390px;
            }
            .input__email {
                margin: -16px 0px 0 740px;
            }
            .form__message {
                width: 550px;
                height: 400px;
                margin: 68px 0 0 390px;
            }
            margin: 260px 0px 0 -420px;
        }
    }
}
@media (max-width: 586px) {
    .welcome__text-text {
        margin: 26px 0px 0 70px;
        width: 400px;
    }
    .services {
        height: 1800px;
        display: flex;
        flex-direction: column;
        .services__title {
            margin: -10px 0px 0 -290px;
        }
        .services__items {
            width: 320px;
            margin: 100px 0 0 120px;
            .services__items-item {
            }
        }
    }
    .skills {
        height: 1350px;
        .skills__category {
            margin: 400px 0 0 150px;
            width: 150px;
            &:last-child {
                margin: 400px 0 0 150px;
            }
        }
    }
    .team {
        .team__slider {
            .slider__item {
                width: 230px;
                margin: 0 0 0 140px;
            }
            .slick-dots {
                position: absolute;
                left: 0;
                margin: 10px 0 0 240px;
            }
        }
    }
    .portfolio {
        .portfolio__project {
            height: 900px;
            img {
                width: 440px;
            }
            margin: 550px 0 0 -70px;
            p {
                margin: 20px 0 0 -40px;
            }
            .portfolio__project2 {
                position: absolute;
                margin: 450px 0 0 110px;
            }
            .portfolio__project3 {
                margin: 450px 0 0 110px;
            }
            .portfolio__project4 {
                position: absolute;
                margin: 800px 0 0 110px;
            }
            .portfolio__button {
                z-index: 5;
                position: absolute;
                margin: 1400px 0 0 0px;
            }
        }
    }
    .contact {
        height: 1065px;
        .form-wrapper {
            margin: 300px 0px 0 -400px;
            .form__input {
                width: 350px;
                margin: -35px 0px 0 490px;
            }
            .input__email {
                margin: 26px 0px 0 490px;
            }
            .form__message {
                width: 350px;
                height: 400px;
                margin: 108px 0 0 490px;
            }
            .form__button {
                margin: 620px 0 0 530px;
            }
        }
    }
}
@media (max-width: 550px) {
    .services {
        h2 {
            font-size: 30px;
            white-space: pre-wrap;
            width: 300px;

            margin: -10px 0px 0 -300px;
        }
        .services__description {
            margin: 0 0 0 -180px;
            width: 560px;
        }
        .services__items {
            margin: 100px 0 0 120px;
            .services__items-item {
            }
        }
    }
}
@media (max-width: 530px) {
    .contact {
        .form-wrapper {
            margin: 300px 0px 0 -420px;
        }
    }
}
@media (max-width: 460px) {
    .about {
        .about__slider {
            margin: 200px 0 0 -360px;
        }
    }
}
@media (max-width: 500px) {
    .welcome__text-text {
        margin: 26px auto;
        width: 300px;
    }
    .welcome__block-button {
        margin: 220px auto;
    }
    .services {
        .services__title {
            font-size: 30px;
            margin: 30px 0px 0 40px;
        }
        .services__items {
            margin: 100px 0 0 100px;
        }
    }
    .portfolio {
        .portfolio__project {
            img {
                width: 380px;
            }
            margin: 550px 0 0 -90px;
            p {
                margin: 20px 0 0 -90px;
            }
        }
        .portfolio__button {
            margin: 550px 0 0 80px;
        }
    }
    .team {
        .team__slider {
            .slider__item {
                width: 230px;
                margin: 0 0 0 130px;
            }
            .slick-dots {
                position: absolute;
                left: 0;
                margin: 10px 0 0 240px;
            }
        }
    }
    .contact {
        .form-wrapper {
            margin: 300px 0px 0 -440px;
        }
    }
}
@media (max-width: 440px) {
    .portfolio {
        height: 2300px;
        .portfolio__project {
            img {
                width: 280px;
            }
            margin: 550px 0 0 -60px;
            p {
                margin: 20px 0 0 -130px;
            }
        }
        .portfolio__button {
            margin: 500px 0 0 45px;
        }
    }
    .contact {
        .form-wrapper {
            margin: 300px 0px 0 -460px;
        }
    }
}
@media (max-width: 400px) {
    .services {
        .services__title {
            margin: 30px 0px 0 20px;
        }
        .services__items {
            margin: 100px 0 0 30px;
        }
        .services__description {
            margin: 0 0 0 -200px;
            width: 500px;
        }
    }
    .portfolio {
        .portfolio__project {
            img {
                width: 280px;
            }
            margin: 550px 0 0 -105px;

            p {
                margin: 20px 0 0 -135px;
                width: 200px;
            }
            .project1__title {
                margin: 20px 0 0 0px;
            }
            .project1__title {
                position: absolute;
                margin: 20px 0 0 200px;
            }
        }
        .portfolio__button {
            margin: 500px 0 0 15px;
        }
    }
    .team {
        .team__slider {
            .slider__item {
                width: 230px;
                margin: 0 0 0 110px;
            }
            .slick-dots {
                position: absolute;
                left: 0;
                margin: 10px 0 0 200px;
            }
        }
    }
    .about {
        .about__slider {
            margin: 200px 0 0 -380px;
            .slider__item {
                .item__img1,
                .item__img2,
                .item__img3,
                .item__img4 {
                    margin-left: 370px;
                }
                .item__text1 {
                    margin: 220px 0 0 280px;
                    width: 310px;
                }
                .item__text2 {
                    width: 310px;
                    margin-left: 280px;
                }
                .item__text3 {
                    margin: 700px 0 0 280px;
                    width: 310px;
                }
                .item__text4 {
                    width: 310px;
                    margin-left: 280px;
                }
                .item__name1 {
                    margin: 360px 0 0 350px;
                }
                .item__name2 {
                    margin: 570px 0 0 350px;
                }
                .item__name3 {
                    margin: 820px 0 0 320px;
                }
                .item__name4 {
                    margin: 1130px 0 0 340px;
                }
                .item__proffession1 {
                    margin-left: 370px;
                    margin-top: 390px;
                }
                .item__proffession2 {
                    margin: 610px 0 0 350px;
                }
                .item__proffession3 {
                    margin: 860px 0 0 320px;
                }
                .item__proffession4 {
                    margin: 1170px 0 0 340px;
                }
            }
        }
    }
    .contact {
        .form-wrapper {
            margin: 300px 0px 0 -490px;
        }
    }
}
@media (max-width: 380px) {
    .contact {
        .form-wrapper {
            margin: 300px 0px 0 -470px;
            .form__input {
                width: 300px;
                margin: -35px 0px 0 490px;
            }
            .input__email {
                margin: 26px 0px 0 490px;
            }
            .form__message {
                width: 300px;
                height: 400px;
                margin: 108px 0 0 490px;
            }
            .form__button {
                margin: 620px 0 0 500px;
            }
        }
    }
}
@media (max-width: 360px) {
    .contact {
        .form-wrapper {
            margin: 300px 0px 0 -480px;
        }
    }
}
@media (max-width: 340px) {
    .portfolio {
        .portfolio__button {
            margin: 500px 0 0 0px;
        }
    }
    .services {
        .services__title {
            margin: 30px 0px 0 5px;
        }
        .services__items {
            margin: 100px 0 0 30px;
        }
        .services__description {
            margin: 0 0 0 -230px;
            width: 500px;
        }
    }
    .team {
        .team__slider {
            .slider__item {
                width: 260px;
                margin: 0 0 0 33px;
                .item__name3 {
                    margin: 0px 0 0 15px;
                }
                .item__desc {
                    margin: 8px 0 0 -10px;
                }
            }
            .slick-dots {
                position: absolute;
                left: 0;
                margin: 10px 0 0 160px;
            }
        }
    }
    .contact {
        .form-wrapper {
            margin: 300px 0px 0 -495px;
        }
    }
}
